.homeTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #000;
}

.sucursalContainer {
    text-align: center;
}

.categoryTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #000;
}

.heladosContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;    
}

.productoTitle {
    align-items: center;
    justify-content: center;
}

.quantityInput {
    align-items: center;
    justify-content: center;
}